/* .service__title {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-top: 115px;
  margin-bottom: 15px;
}

.service__text {
  text-align: center;
} */

.service {
  background: url('./img/image2.png');
  height: 600px;
  width: 100%;
  margin-right: -60px;
  position: relative;
  font-size: 14px;
  
}

.service__item {
  max-width: 300px;
  position: absolute;
  right: 0;
  transform: translate(-15%, 270%);
  
}

.service__title{
  text-transform: uppercase;
}