.service {
  background: url('./img/image2.png');
  height: 600px;
  width: 100%;
  margin-right: -60px;
  position: relative;
  font-size: 14px;
  
}

.service__item {
  max-width: 300px;
  position: absolute;
  right: 0;
  transform: translate(-15%, 270%);
  
}

.service__title{
  text-transform: uppercase;
}